@page "/"

<h1> Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title = "How is Bazor working for you ? "></SurveyPrompt>


<div class="row">
    <div class="col-6">
        <BlazorAppTodoList.Pages.Components.ToDo HeaderName = "Daily Task">

        </BlazorAppTodoList.Pages.Components.ToDo>
    </div>

    <div class="col-6">
        <BlazorAppTodoList.Pages.Components.ToDo HeaderName = "Monthly Task">

        </BlazorAppTodoList.Pages.Components.ToDo>
        
    </div>
</div>


